<div class="row m-0">
  <div class="header mt-2 col-md-8">
    <div class="heading">Generate Coupons</div>
    <div class="container">
      <form [formGroup]="formData">
        <div class="form-group">
          <label for="CouponType*">Coupon Type*</label>
          <select id="CouponType" class="form-control" formControlName="couponType"
            [ngClass]="{'is-invalid':submitted && formData.get('couponType').errors}">
            <option>User</option>
            <option>Admin</option>
          </select>
        </div>

        <div class="form-group">
          <label for="CouponCode">Coupon Code*</label>
          <input type="text" class="form-control" id="couponCode" formControlName="couponCode"
            [ngClass]="{'is-invalid':submitted && formData.get('couponCode').errors}">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="StartDate">Start Date*</label>
            <input type="date" class="form-control" id="startDate" formControlName="validFrom"
              [ngClass]="{'is-invalid':submitted && formData.get('validFrom').errors}">
          </div>
          <div class="form-group col-md-6">
            <label for="EndDate">End Date*</label>
            <input type="date" class="form-control" id="endDate" formControlName="validTo"
              [ngClass]="{'is-invalid':submitted && formData.get('validTo').errors}">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Availability">Coupon Availability*</label>
            <select id="inputState" class="form-control" formControlName="availablity"
              [ngClass]="{'is-invalid':submitted && formData.get('availablity').errors}"
              (change)="checkCount($event.target.value)">
              <option value="true">Unlimted</option>
              <option value="false">Limted</option>
            </select>
          </div>
          <div class="form-group col-md-6" *ngIf="formData.get('availablity').value !='true'">
            <label for="Availability">Coupon Count</label>
            <input type=number id="couponCount" class="form-control" formControlName="couponCount"
              [ngClass]="{'is-invalid':submitted && formData.get('couponCount').errors}">
          </div>
        </div>

        <div class="form-group">
          <label for="Comment">Comment</label>
          <textarea class="form-control" id="Comment" placeholder="Type Something" rows="3"
            formControlName="tnc"></textarea>
        </div>


        <div class="form-group">
          <label for="inputState">Coupon Status</label>
          <select id="inputState" class="form-control" formControlName="couponStatus">
            <option value="true">Active</option>
            <option value="false">InActive</option>
          </select>
        </div>

        <div class="rulesHeading">Coupons Rules</div>
        <hr>
        <ng-container formArrayName="couponRules">
          <div class="rulesTable mt-2" *ngFor="let item of couponRules.controls, let i=index" [formGroupName]="i">

            <div class="rules">RULE{{i+1}}</div>
            <hr>
            <div class="content m-3">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="minAmount">Min Amount*</label>
                  <input type="number" class="form-control" id="minAmount" formControlName="minAmount"
                    [ngClass]="{'is-invalid':submitted && couponRules.controls[i].get('minAmount').errors}">
                </div>
                <div class="form-group col-md-6">
                  <label for="maxAmount">Max Amount</label>
                  <input type="number" class="form-control" id="maxAmount" formControlName="maxAmount">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="discountType">Discount Type*</label>
                  <select id="discountType" class="form-control" formControlName="discountType"
                    [ngClass]="{'is-invalid':submitted && couponRules.controls[i].get('discountType').errors}">
                    <option>Percentage</option>
                    <option>Fraction</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="discountAmount">Discount Amount* </label>
                  <input type="number" class="form-control" id="discountAmount" formControlName="discount"
                    [ngClass]="{'is-invalid':submitted && couponRules.controls[i].get('discount').errors}">
                </div>
              </div>
              <div class="form-group">
                <label for="maxDiscount">Max Discount Amount</label>
                <input type="number" class="form-control" id="maxDiscount" formControlName="maxDiscount">
              </div>
            </div>
          </div>
          <span class="right" (click)="addRules()">
            <img src="assets/images/add.jpg" alt="add" height="30px"> Add More Rules
          </span>
        </ng-container>
      </form>
      <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
    </div>

  </div>
  <div class="couponList col-md-4 mt-2">
    <h1 class="text-center mt-2 text-white">Coupons Available</h1>
    <div class=" m-2 text-center" *ngIf="!couponsAvailable.length">No Coupons</div>
    <div class=" m-5" *ngFor="let item of couponsAvailable">
      <ng-container class="mt-3 mb-2">
        <p class="code">{{item.coupon_code}}</p>
      </ng-container>
      <ng-container class="mt-3 text-white couponjson">
        <p class="jsonC">{{couponJson}}</p>
      </ng-container>
    </div>

  </div>
</div>
