.heading{
  text-align: center;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  /* color: */
}
.rulesHeading{
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}
.rulesTable{
  border: 1px solid rgb(185, 184, 184);
}
.rules{
  font-size:30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:500;
  padding:10px 0px 3px 8px;
}
.right{
  float: right;
  margin:1px;
  cursor: pointer;
}
.btn{
  margin:30px;
  border-radius:15px;
  width: 120px;
}
